<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/TAD.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">    
    <title> Verificación SASISOPA | Estaciones de Servicio | Kepler Oil & Gas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
            <a class="navbar-brand" href="/">
                <img src="/img/LogoKepler.png" width="180px" height="52px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/#about">¿Quienes somos? <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#servicios">Nuestros servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contacto">Contacto</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Autorizaciones ASEA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container">
            <h1>Estaciones de Servicio (ES)</h1> 
    
            <div class="row" id="servicio">
                <div class="col-md-4">
                    <img src="/img/petrol-station.png" alt="">
                </div>
                <div class="col-md-8">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Diseño, Construcción, Operación
                                </button>
                            </h2>
                            </div>
                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><p>NOM-005-ASEA-2016</p></li>
                                </ul>
                                <p>Evaluación de la conformidad de las especificaciones, parámetros y requisitos técnicos de Seguridad Industrial, Seguridad Operativa, y Protección Ambiental que se deben cumplir en el diseño, construcción, operación y mantenimiento de Estaciones de Servicio para almacenamiento y expendio de diésel y gasolinas.</p>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Calidad
                                </button>
                            </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><p>NOM-016-CRE-2016</p></li>
                                </ul>
                                <p>Evaluación de la conformidad de las especificaciones de calidad que deben cumplir los petrolíferos en cada etapa de la cadena de producción y suministro, en territorio nacional, incluyendo su importación.Especificaciones de calidad de los petrolíferos.</p>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    SASISOPA
                                </button>
                            </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><p>SASISOPA Comercial</p></li>
                                </ul>
                                <p>Evaluación del conjunto integral de elementos interrelacionados y documentados cuyo propósito es la prevención, control y mejora del desempeño de una instalación o conjunto de ellas, en materia de Seguridad Industrial, Seguridad Operativa y de Protección al Medio Ambiente.</p>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                                    Medición
                                </button>
                            </h2>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><p>DACG Medición Almacenamiento RES-811</p></li>
                                </ul>
                                <p>Evaluación de la resolución por la que la Comisión Reguladora de Energía expide las disposiciones administrativas de carácter general en materia de medición aplicables a la actividad de almacenamiento de petróleo, petrolíferos y petroquímicos.</p>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading5">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                                    Auditoria SASISOPA
                                </button>
                            </h2>
                            </div>
                            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><p>Auditoria SASISOPA</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading6">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                                    PML
                                </button>
                            </h2>
                            </div>
                            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li><p>Estudio de Pérdida Máxima Probable</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="footer">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                        <a href="https://www.facebook.com/pages/category/Petroleum-Service/Kepler-Oil-Gas-645175249161062/"><i class="fab fa-facebook-square" id="faceb"></i></a>
                        <a><i class="fab fa-twitter" id="twitter"></i></a>
                        <a href="https://www.linkedin.com/company/kepler-oil-gas"><i class="fab fa-linkedin" id="linkedin"></i></a>
                        <img class="img-footer" src="" width="150" hight="150">
                    </div>
                    <div class="col-md-4">
                        <h4 class="txt-footer">Kepler Oil & Gas</h4>
                        <p class="txt-footer">Email: contacto@kepler-oilgas.com.mx</p>
                        <p class="txt-footer"> Tel: (442) 242 34 62</p>
                        <p class="txt-footer"> Whatsapp: </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="txt-footer">Dirección</h4>
                        <p class="txt-footer top">Constituyentes #57. Oficina: 805. <br> Colonia: Cimatario <br> 09410, Queretaro <br> Queretaro</p>
                    </div>
                </div>
            </div>
        </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>