<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="itALb4cvzXLeHZr4OBPliBnnRJP-XVQK7VfPU5qj2dQ" />
    <meta name="description" content="Verificación SASISOPA, Estaciones de servicio, Terminales de almacenamiento, Gas LP y Gas Natular">
    <meta name="keywords" content="Verificación SASISOPA, SASISOPA, sasisopa, NOM, estación de servicio, ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Verificación SASISOPA | Verificación NOM-005 | Estaciones de servicio | Terminales de almacenamiento | KEPLER OIL & GAS</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <a class="navbar-brand" href="/">
        <img src="/img/LogoKepler.png" width="180px" height="52px" alt="Logo Kepler Oil & Gas">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#about">¿Quienes somos? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#servicios">Nuestros servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Autorizaciones ASEA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<header class="v-header vidContainer">
    <div class="fullscreen-video-wrap">
        <video src="/video/video.vid" autoplay="true" loop="true" muted="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1 class="toogle">EXPERIENCIA</h1>
        <h1 class="toogle">CALIDAD</h1>
        <h1  class="toogle">INTEGRIDAD</h1>
        <p>El staff de ingenieros que componen nuestro equipo de trabajo, cuentan con más de 35 años de experiencia en el sector petrolíferos </p>
        <a href="#contacto" class="vidBtn">HAZ TU SOLICITUD</a>
    </div>
</header>


<section id="about" class="project">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/img/about.jpeg" class="img-fluid" alt="Verificación SASISOPA">
            </div>
            <div class="col-md-6">
                <h1 id="titleAbout"><span class="signoPuntuacion">¿</span>Quiénes somos<span class="signoPuntuacion">?</span></h1>
                <p>
                    Somos una empresa que busca satisfacer las necesidades de la <strong>Industria del Petróleo</strong> y/o, los
                    <strong>Hidrocarburos</strong>, mediante servicios confiables y especializados basados en la normatividad vigente,
                    así como en la capacidad y experiencia técnica de nuestro personal, enfocados siempre hacia la
                    mejora continua<span class="signoPuntuacion">.</span>
                </p>
            </div>
        </div>  
    </div> 
</section>

<section id="politica">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contPolitica">
                    <div id="contTitlePolitica">
                        <h1 id="titleAbout">Política:</h1>
                    </div>
                    <p>
                        En Kepler Oil & Gas estamos comprometidos a safisfacer las nececidades del sector <strong>hidrocarburos</strong>, 
                        mediante servicios confiables y especializados, así como en la capacidad y experiencia técnica de nuestro personal,
                        cumpliendo con los requisitos de nuestro sistema de gestión de calidad, la normatividad vigente y enfocándonos
                        siempre hacia la mejora continua.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/img/politica.jpeg" class="img-fluid img-politica" alt="SASISOPA">
            </div>
        </div>
    </div>  
</section>

<section id="valores" class="project">
    <div class="container">
        <h2 id="valoresTitle">Nuestros valores<span class="signoPuntuacion">:</span></h2>
        <div class="container">
            <div class="row contValores">
                <div>
                    <img src="/img/agreement.png" alt="">
                    <p>Compromiso</p>
                </div>
                <div>
                    <img src="/img/leader.png" alt="">
                    <p>Calidad</p>
                </div>
                <div>
                    <img src="/img/conference.png" alt="">
                    <p>Autoliderazgo</p>
                </div>
                <div>
                    <img src="/img/team.png" alt="">
                    <p>Pasión</p>
                </div>
                <div>
                    <img src="/img/meeting.png" alt="">
                    <p class="txtValor">Confianza</p>
                </div>
            </div>
        </div>
</section>

<section class="panel misionVision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 panel mis" id="mision" >
                <h2 class="animated rollIn" style="animation-delay: 0.2s">Misión</h2>
                <p class="animated bounceInLeft" style="animation-delay: 0.5s"> Somos un equipo comprometido que colabora con pasión y constancia para proveer servicios técnicos especializados en la evaluación de la conformidad de requerimientos normativos asociados al sector de hidrocarburos, solucionando las necesidades de nuestros clientes en cuanto a calidad, confianza y competitividad.</p>
            </div>
            <div class="col-md-6 panel vis" id="vision">
                <h2 class="animated rollIn" style="animation-delay: 0.5s">Visión</h2>
                <p class="animated bounceInLeft" style="animation-delay: 1.5s">
                    Ser el referente nacional en la evaluación de conformidad de las normas asociadas al sector hidrocarburos, reconocidos por proveer a nuestros clientes servicios confiables y de calidad, destacados por la experiencia, capacidad y pasión que nos caracteriza.
                </p>
            </div>
        </div>
    </div>
    
</section>

<section id="servicios">
    <div class="container">
        <h2 id="serviciosTittle">Nuestros <span class="signoPuntuacion">servicios:</span></h2>
        <div class="row servCont">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span class="signoPuntuacion">Petrolíferos</span></h4>  
                        <img src="/img/molecule.png" >
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <a href="/TAD" class="linkServ"><li><p>Terminales de Almacenamiento y Distribución (TAD)</p></li></a>
                            <a href="/TD" class="linkServ"><li><p>Terminales de Distribución (TD)</p></li></a>
                            <a href="/ES" class="linkServ"><li><p>Estaciones de Servicio (ES)</p></li></a>
                            <a href="/PL" class="linkServ"><li><p>Poliducto (PL)</p></li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span class="signoPuntuacion">Gas LP</span></h4>
                        <img src="/img/gas.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <a href="/PD" class="linkServ"><p><li>Plantas de Distribución (PD)</p></li></a>
                            <a href="/EC" class="linkServ"><p><li>Estaciones de Carburación (EC)</li></p></a>
                            <a href="/BD" class="linkServ"><p><li>Bodegas de Distribución (BD)</li></p></a>
                            <a href="/LP" class="linkServ"><p><li>LPGducto (LP)</li></p></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>   
        <div class="row servCont">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span class="signoPuntuacion">Gas Natural</span></h4>
                        <img src="/img/gas.png">
                    </div>
                    <hr>
                    <div class="col-md-6">
                        <ul>
                            <a href="/TGNL" class="linkServ"><p><li>Terminales de Gas Natural Licuado (TGNL)</li></p></a>
                            <a href="/ECI" class="linkServ"><p><li>Estaciones de Compresión Industrial (ECI)</li></p></a>
                            <a href="/GNV" class="linkServ"><p><li>Estaciones de Gas Natural Vehicular (GNV)</li></p></a>
                            <a href="/GD" class="linkServ"><p><li>Gasoducto (GD)</li></p></a>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span class="signoPuntuacion">Petroquímicos Básicos</span></h4>
                        <img src="/img/factory.png">
                    </div>
                    <hr>
                    <div class="col-md-6">
                        <ul>
                            <a href="/CPG" class="linkServ"><p><li>Complejos Procesadores de Gas (CPG)</li></p></a>
                            <a href="/QD" class="linkServ"><p><li>Quimioductos (QD)</li></p></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>  
        <div class="row servCont">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span class="signoPuntuacion">Crudo</span></h4>
                        <img src="/img/extraction.png">
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <a href="#" class="linkServ"><p><li>Pozos (PO)</li></p></a>
                            <a href="#" class="linkServ"><p><li>Oleoductos (OD)</li></p></a>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</section>

<section id="contacto">
    <div class="container">
        <div id="contTitlePolitica">
            <h3>Contacto:</h3>
        </div>
        <form class="needs-validation" id="form">
            <div class="form-row">
                <div class="col">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ejem: Chucho Pérez" required>
                    <div class="invalid-feedback">
                        Por favor ingresa tu nombre
                    </div>
                </div>
                <div class="col">
                    <label>Razón social</label>
                    <input type="text" class="form-control" id="razonSocial" placeholder="Ejem: El Carril S.A. de C.V.">
                    <p>* Opcional</p>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label>Teléfono</label>
                    <input type="number" class="form-control" id="telefono" placeholder="Tel. a 10 digítos" required>
                    <div class="invalid-feedback">
                        Por favor ingresa tu teléfono
                    </div>
                </div>
                <div class="col">
                    <label>Email</label>
                    <input type="text" class="form-control" id="email" placeholder="ejemplo@ejemplo.com" required>
                    <div class="invalid-feedback">
                        Por favor ingresa tu email
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="exampleFormControlTextarea1">Descripción/Comentarios</label>
                <textarea class="form-control" id="desCom"  rows="3"></textarea>
                <p>* Opcional</p>    
            </div>
            <p id="linkAviso">* No compartiremos tu información con nadie. <a type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Revisa nuestro aviso de privacidad</a></p>
            <div class="g-recaptcha" data-sitekey="6Lc35J0UAAAAADDNJ8xZx1L7Wnyktq1q-PsnENKO" data-callback="recaptcha_callback"></div>
            <button type="submit" id="sendBtn" class="vidBtn" disabled>Enviar</button>
        </form>
    </div>
</section>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="modalContacto" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Envio de formulario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="Actualizar" onclick="location.reload()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Gracias por enviar tu información.</h3>
          <h3>En breve nos pondremos en contacto contigo.</h3>
        </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content aviso">
            <div class="modal-header">
                <h5 class="modal-title">Aviso de privacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="Actualizar" onclick="location.reload()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container contAviso">
                    <p> <span> KEPLER OIL & GAS, S.A. DE C.V.</span> Con domicilio en Avenida Constituyentes No. 57, Torre B Piso 8, Col. Cimatario, C.P: 76030 en cuidad de Querétaro, como parte de los procesos de consultoría solicita a sus clientes alguna información de carácter personal, y se hace responsable de usar los mismos exclusivamente para las finalidades previstas en el presente Aviso de Privacidad. En caso de que sea necesario utilizar los datos para un fin distinto, se le requerirá previamente por escrito, su consentimiento<span>.</span></p>
                    <br>
                    <p>Asimismo, cualquier cambio en el presente Aviso de Privacidad se le informará por escrito a la dirección de correo electrónico que para tal fin nos proporcione<span>.</span> </p>
                    <br>
                    <p>La información requerida será usada para la realización de la Prestación de Servicio de Consultoría, considerada la información requerida como sensible según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares<span>.</span></p>
                    <br>
                    <p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento; sin efecto retroactivo a los procesos ya realizados y acordados con el contrato del servicio, que para tal fin nos haya otorgado, informando por escrito, por la de vía correo electrónico, dirigido al consultor asignado para su proceso<span>.</span> </p>
                    <br>
                    <p>Una vez que los datos personales proporcionados dejen de ser necesarios para el cumplimiento de las finalidades previstas en este Aviso y las disposiciones legales aplicables, se procederá a su cancelación, o solicitud de reserva de los mismos para siguientes servicios<span>.</span> </p>
                    <br>
                    <p>Si está de acuerdo con el presente aviso y el uso de sus datos personales, puede continuar con la contratación de los servicios de consultoría, así como proceder a la entrega de la información solicitada vía electrónica y/o en nuestras oficinas de atención<span>.</span> </p>
                    <br>
                    <p>Asimismo, le informamos que sus datos personales sólo podrán ser tratados y transferidos dentro y fuera del país, en casos de procesos internos para la Prestación de Servicio. Si usted no manifiesta por escrito, su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello<span>.</span></p>
                    <br>
                    <p>En el marco del párrafo anterior, la “transferencia” comprende toda comunicación de datos realizada a algún tercero. De cualquier forma, <span>KEPLER OIL & GAS, S.A. DE C.V.</span> tomará las medidas necesarias y suficientes para garantizar que el presente Aviso de Privacidad sea respetado en todo momento<span>.</span></p>
                    <br>
                    <p>Si está de acuerdo con el presente aviso y el uso de sus datos personales, puede continuar con el proceso de la Prestación de Servicio, así como proceder al envío de la información solicitada<span>.</span></p>
                    <br>
                    <p>Cualquier duda o consulta de este aviso de privacidad podrá consultarla directamente con su consultor<span>.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="ubicacion">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="map"></div>
            <div class="col-md-4">
                <img src="/img/new-sho.jpeg" class="img-thumbnail" height="400px" width="400px">
            </div>  
        </div>
    </div>  
</section>

<footer id="footer">
  <div class="container">
      <div class="row">
          
          <div class="col-md-4">
              <a href="https://www.facebook.com/pages/category/Petroleum-Service/Kepler-Oil-Gas-645175249161062/"><i class="fab fa-facebook-square" id="faceb"></i></a>
              <a><i class="fab fa-twitter" id="twitter"></i></a>
              <a href="https://www.linkedin.com/company/kepler-oil-gas"><i class="fab fa-linkedin" id="linkedin"></i></a>
              <img class="img-footer" src="" width="150" hight="150">
          </div>
          <div class="col-md-4">
              <h4 class="txt-footer">Kepler Oil & Gas</h4>
              <p class="txt-footer">Email: contacto@kepler-oilgas.com.mx</p>
              <p class="txt-footer"> Tel: (442) 242 34 62</p>
              <p class="txt-footer"> Whatsapp: </p>
          </div>
          <div class="col-md-4">
              <h4 class="txt-footer">Dirección</h4>
              <p class="txt-footer top">Constituyentes #57. Oficina: 805. <br> Colonia: Cimatario <br> 09410, Querétaro <br> Querétaro</p>
          </div>
      </div>
  </div>
</footer>

</body>
<script>
document.getElementById('form').addEventListener('submit', submitForm);
    function submitForm(e){
      e.preventDefault();
      
      const nombre = document.querySelector('#nombre').value;
      const email = document.querySelector('#email').value;
      const razonSocial = document.querySelector('#razonSocial').value;
      const telefono = document.querySelector('#telefono').value;
      const desCom = document.querySelector('#desCom').value;
      const captcha = document.querySelector('#g-recaptcha-response').value;

      fetch('/subscribe', {
        method:'POST',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type':'application/json'
        },
        body:JSON.stringify({nombre:nombre, email: email, captcha: captcha, telefono:telefono, razonSocial: razonSocial, desCom: desCom})
      })
      .then((res) => res.json())
      .then((data)=>{
        $('#modalContacto').modal('show')
      })
    }
</script>
<script>
  var map;
  var kepler = {lat: 20.584109, lng: -100.393164};
  function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 20.584018, lng: -100.393128},
          zoom: 16
      });
      var marker = new google.maps.Marker({position: kepler, map: map});
  }    
</script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
      'use strict';
      window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
          }
          form.classList.add('was-validated');
          }, false);
      });
      }, false);
  })();
</script>
<script>
    function recaptcha_callback() {
      const sendBtn = document.querySelector('#sendBtn');
      sendBtn.removeAttribute('disabled');
      sendBtn.style.cursor = 'pointer';
      sendBtn.style.opacity = 1;
    }  
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129664492-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129664492-2');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgQykBY1qK2h85t2Md4jmbGuYJcfKc4RU&callback=initMap"
async defer></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js'></script>
<script src="/scripts/landing.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
